{% extends "base.html" %}


{% block menu %}

 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/admtipo/{{session['faseid']}}">Administrar Tipo</a></li>
              <li class="active"><a href="">Administrar Atributo</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Usuario: {{session['username']}}</a></li>
              </ul>
          </div>
         </div>
        </div>
</div>
              
{%endblock%}

{%block mensaje%}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="container" align="center">
            {% for category, message in messages %}
              <h4 class="{{ category }}">{{ message }}</h4>
            {% endfor %}
		  </div>
          {% endif %}
        {% endwith %}
{%endblock%}

{%block content%}
<div class="fases">
		<div class="container" align="center">
        <h3 class="muted">{{session['proyectonombre']}} - {{session['fasenombre']}} - {{session['tipoitemnombre']}}</h3>
        </div>
        <div class="row" >
                <div class="span12">
                        <h2> Listado de los Atributos </h2>
                        <table class="table table-striped table-bordered">
                                <tr>
                                        <th>Nombre</th>
                                        <th>Tipo de Dato</th>
				                        <th>Eliminar</th>
                                </tr>
                                {% for a in atributos %}
                    
                                <tr>
                                        <td>{{a.nombre}}</td>
                                        <td>{{a.tipoDato}}</td>
		                                <td>
		                                <a class="btn btn-danger" href="/admatributo/eliminar/{{a.id}}">Eliminar</a>
                                        </td>
                        </tr>
                                {% else %}
                        
                                <tr>
                                        No se han creado atributos aún
                                </tr>
                                {% endfor %}
                </table>
                <a class="btn" href="/admtipo/{{session['faseid']}}"><i class="icon-arrow-left"></i> Atras</a>
        </div>
	      <div class="span3 bs-docs-sidebar">
        	<ul class="nav nav-list bs-docs-sidenav">
				  <li><a href="/admatributo/crearatributo/"><i class="icon-chevron-right"></i> Crear Atributo</a></li>
				</ul>
			</div>
		</div>
</div>
{%endblock%}
