{% extends "base.html" %}


{% block menu %}

 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="">Administrar Solicitud</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Usuario: {{session['username']}}</a></li>
              </ul>
          </div>
         </div>
        </div>
</div>
              
{%endblock%}

{%block mensaje%}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="container" align="center">
            {% for category, message in messages %}
              <h4 class="{{ category }}">{{ message }}</h4>
            {% endfor %}
		  </div>
          {% endif %}
        {% endwith %}
{%endblock%}

{%block content%}
<div class="fases">
		<div class="container" align="center">
        <h3 class="muted">{{session['proyectonombre']}}</h3>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="container" align="center">
            {% for category, message in messages %}
              <h4 class="{{ category }}">{{ message }}</h4>
            {% endfor %}
                  </div>
          {% endif %}
        {% endwith %}
				
				
        <div class="row" >
                <div class="span14">
                        <h2> Listado de Items de Solicitud de Cambio </h2>
                      
                        <table class="table table-striped table-bordered">
                                <tr>
                                        <th>Nombre</th>
                                        <th>Estado</th>
				                        <th>Tipo</th>
				                        <th>Version</th>
				                        {% if accionHabilitada(s,"editarI") %}
				                        <th>Atributos</th>
				                        <th>Editar</th>
				                        {%endif%}
				                        {% if accionHabilitada(s,"editarI") %}
				                        <th>Eliminar</th>
				                        {%endif%}
				                        <th>Consultar</th>
				                        {%if accionHabilitada(s,"editarI")%}
				                        <th>Asignar</th>
				                        {%endif%}
				                        {%if accionHabilitada(s,"editarI")%}
				                        <th>Asignar</th>
				                        {%endif%}
				                        {%if accionHabilitada(s,"editarI")%}
				                        <th>Relaciones</th>
				                        {%endif%}
										
                                </tr>
                                {% for i in items %}
                    
                                <tr>
                                		<td>Item X</td>
                                		<td>Bloqueado</td>
                                		<td>Tipo</td>
                                		<td>4</td>
                                        <!-- <td>{{i.nombre}}</td>
                                        <td>{{i.estado}}</td>
                                        <td>{i.item.tipoitem.nombre}}</td>
                                        <td>{{i.version}}</td> -->
                                        {% if accionHabilitada(s,"editarI")%}
	                                    <td>
                                        {% if iitemtipoitematributos %}
                                        	<a class="btn" href="/admitem/atributo/{{i.id}}">Completar</a>
                                        {% else %}
                                        	No tiene Atributos
                                        {%endif%}
                                        </td>
                                        <td>
                                        <a class="btn" href="/admitem/editaritem/{{i.id}}">Editar</a>
                                        </td>
                                        {%endif%}
                                        {% if accionHabilitada(s,"eliminarI")%}
		                                <td>
		                                <a class="btn btn-danger" href="/admitem/eliminaritem/{{i.id}}">Eliminar</a>
                                        </td>
                                        {%endif%}
                                        <td>
                                        <a class="btn btn-info" href="/admitem/consultaritem/{{i.id}}">Consultar</a>
                                        </td>
                                        {%if accionHabilitada(s,"asignarpadrei")%}
                                        <td>
                                        <a class="btn btn-warning" href="/admitem/asignarhijo/{{i.id}}">Padre</a>
                                        </td>
	                                    {%endif%}
                                        {%if accionHabilitada(s,"asignarantecesori")%}
                                        <td>
                                        <a class="btn btn-warning" href="/admitem/asignarantecesor/{{i.id}}">Antecesor</a>
                                        </td>
                                        {%endif%}
                                        {%if accionHabilitada(s,"eliminarrelacion")%}
                                        <td>
                                        <a class="btn btn-warning" href="/admitem/eliminarrel/{{i.id}}">Eliminar</a>
                                        </td>
                                        {%endif%}
                                       
                        </tr>
                                {% else %}
                        
                                <tr>
                                        No se han creado items aún
                                </tr>
                                {% endfor %}
                </table>
                <a class="btn" href="/admfase/{{session['proyectoid']}}"><i class="icon-arrow-left"></i> Atras</a>
      	  </div>
      	  <div class="span3 bs-docs-sidebar" >
	        	<ul class="nav nav-list bs-docs-sidenav">
					  <li><a href="/admsolicitud/terminar/{{session['solicitudid']}}"><i class="icon-chevron-right"></i>Terminar</a></li>
					</ul>
				</div>
      	  
      </div>
</div>
{%endblock%} 
