{% extends "base.html" %}
{% block menu %}

 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
            <li class="active"><a href="/admproyecto/">Administrar Proyecto</a></li>
              {% if session['isAdmin']==True %}
              <li><a href="/admusuario/">Administrar Usuario</a></li>
              {% endif %}
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Contact</a></li>
              </ul>
          </div>
       </div>
     </div>
</div>
              


{%endblock%}

{%block mensaje%}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
{%endblock%}

{%block content%}

<div class="proyectos">
        <div class="row" >
                <div class="span12">
                        <h2> Listado de Proyectos </h2>
                        <table class="table table-striped">
                                <tr>
                                        <th>id</th>
                                        <th>Nombre</th>
                                        <th>Fases </th>
                                        <th>Inicio</th>
                                        <th>Finalización</th>
                                        <th>Última Modificación</th>
                                        <th>Estado</th>
                                        <th>lider</th>
                                        {% if session['isAdmin']==True %}
                                        <th>Eliminar</th>
                                        {% endif %}
                        <th>Ingresar</th>
                                </tr>
                                {% for p in proyectos %}
                                <tr>
                                        <td>{{p.id}}</td>
                                        <td>{{p.nombre}}</td>
                                        <td>{{p.cantFase}}</td>
                                        <td>{{p.fechaInicio.strftime('%Y/%m/%d')}}</td>
                                        <td>{{p.fechaFin.strftime('%Y/%m/%d')}}</td>
                                        {% if p.fechaUltMod!=None %}
                                        <td>{{p.fechaUltMod}}</td>
                                        {% else %}
                                        <td>----</td>
                                        {% endif %}
                                        <td>{{p.estado}}</td>
                                        <td>{{p.lider}}</td>
                                        {% if session['isAdmin']==True %}
                                        <td>
                                                <a class="btn btn-danger" href="/admproyecto/eliminarproyecto/{{p.id}}">Eliminar</a>
                                        </td>
                                        {% endif %}
                                <td>
                                        {%if session['usuarioid']==p.lider%}
                                        <a class="btn" href="/admfase/{{p.id}}"> Selec>> </a>
                                        {% endif %}
                                        </td>
                                </tr>
                                {% else %}
                                <tr>
                                        No se han creado proyectos aun
                                </tr>
                                {% endfor %}
                </table>
                </div>  
                {% if session['isAdmin']==True %}       
                <p><a href="/admproyecto/crearproyecto/" class="btn btn-primary btn-large">Crear Proyecto</a>
                {% endif %}
        </div>
</div>
{%endblock%}