{% extends "base.html" %}
{% block menu %}
<!--  
<div class="menuHolder">
	<ul class="nav">
		<li>        
			<li><a class="top-a" href="/admusuario/"><b>Administrar Usuario</b></a>
			<div class="col1">
				<ul class="colSingle">
					<li><a href="/admusuario/">Crear</a>
					<li><a href="#url">Eliminar</a>
					<li><a href="/admusuario/">Editar</a>
				</ul>
			</div>
		</li>
			<li><a class="top-a" href="/"><b>logout</b></a></li>
	</ul>
</div>-->	
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/admusuario/">Administrar Usuario</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Contact</a></li>
              </ul>
          </div>
       </div>
     </div>
</div>
              


{%endblock%}

{%block content%}
<div>holanati</div>
{%endblock%}