{% extends "base.html" %}


{% block menu %}

 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/admfase/{{session['proyectoid']}}">Administrar Fase</a></li>
              <li class="active"><a href="">Administrar Rol</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Contact</a></li>
              </ul>
          </div>
         </div>
        </div>
</div>
              
{%endblock%}

{%block mensaje%}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="container" align="center">
            {% for category, message in messages %}
              <h4 class="{{ category }}">{{ message }}</h4>
            {% endfor %}
		  </div>
          {% endif %}
        {% endwith %}
{%endblock%}

{%block content%}
<div class="fases">
		<div class="container" align="center">
        <h3 class="muted">{{session['proyectonombre']}} - {{session['fasenombre']}}</h3>
        </div>
        <div class="row" >
                <div class="span12">
                        <h2> Listado de Roles </h2>
                        <table class="table table-striped table-bordered">
                                <tr>
                                        <th>Nombre</th>
                                        <th>Permiso Item</th>
				                        <th>Permiso Tipo</th>
				                        <th>Permiso LB</th>
				                        <th>Editar</th>
				                        <th>Eliminar</th>
				                        <th>Asignar</th>
				                        <th>Consultar</th>
                                </tr>
                                {% for r in roles %}
                    
                                <tr>
                                        <td>{{r.nombre}}</td>
                                        <td>{{r.codigoItem}}</td>
                                        <td>{{r.codigoTipo}}</td>
                                        <td>{{r.codigoLB}}</td>
                                        <td>
                                        <a class="btn" href="/admrol/editarrol/{{r.id}}">Editar</a>
                                        </td>
		                                <td>
		                                <a class="btn btn-danger" href="/admrol/eliminarrol/{{r.id}}">Eliminar</a>
                                        </td>
                                        <td>
                                        <a class="btn btn-info" href="/admrol/consultarrol{{r.id}}">Consultar</a>
                                        </td>
                                        <td>
                                        <a class="btn btn-warning" href="/admrol/asignar/{{r.id}}">Asignar</a>
                                        </td>
                        </tr>
                                {% else %}
                        
                                <tr>
                                        No se han creado roles aún
                                </tr>
                                {% endfor %}
                </table>
        </div>
	      <div class="span3 bs-docs-sidebar">
        	<ul class="nav nav-list bs-docs-sidenav">
				  <li><a href="/admrol/crearrol/"><i class="icon-chevron-right"></i> Crear Rol</a></li>
				</ul>
			</div>
</div>
{%endblock%}
