{% extends "base.html" %}


{% block menu %}

 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/admfase/">Administrar Fase</a></li>
              <li class="active"><a href="">Administrar Tipo de Item</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Contact</a></li>
              </ul>
          </div>
         </div>
        </div>
</div>
              
{%endblock%}

{%block mensaje%}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
{%endblock%}

{%block content%}
<div class="fases">
		{% set hayf = True %}
        <h4 class="muted"> Proyecto: {{session['proyectonombre']}}</h4>
        <div class="row" >
                <div class="span12">
                        <h2> Listado de Fases </h2>
                        <table class="table table-striped table-bordered">
                                <tr>
                                        <th>Nombre</th>
				                        <th>Atributos</th>
				                        <th>Eliminar</th>
				                        <th>Editar</th>
                                </tr>
                                {% for t in tipos %}
                    
                                <tr>
                                        <td>{{t.id}}</td>
                                        <td>{{t.nombre}}</td>
                                        <td>
                                        <a class="btn" href="/admatributo/{{t.id}}">Atributos</a>
                                        </td>
		                                <td>
		                                <a class="btn btn-danger" href="/admtipo/eliminar/{{t.id}}">Eliminar</a>
                                        </td>
                                        		                                <td>
		                                <a class="btn" href="/admtipo/editar/{{t.id}}">Editarr</a>
                                        </td>
                                        <td>
                        </tr>
                                {% else %}
                        
                                <tr>
                                        No se han creado tipos de items aun
                                </tr>
                                {% endfor %}
                </table>
        </div>
	      <div class="span3 bs-docs-sidebar">
        	<ul class="nav nav-list bs-docs-sidenav">
				  <li><a href="/admtipo/creartipo/"><i class="icon-chevron-right"></i> Crear Tipo de Item</a></li>
				  <li><a href="/admtipo/importar/"><i class="icon-chevron-right"></i> Importar Tipo de Item</a></li>
				  <li><a href="#"><i class="icon-chevron-right"></i> Consultar Tipos</a></li>
				</ul>
			</div>
</div>
{%endblock%}
