{% extends "base.html" %}
{% block menu %}
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/admproyecto/">Administrar Proyecto</a></li>
              <li class="active"><a href="/admusuario/">Administrar Usuario</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Contact</a></li>
              </ul>
              
          </div>
       </div>
     </div>
</div>

{%endblock%}

{%block mensaje%}
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
{%endblock%}
{%block content%}

<div class="usuarios">
	<div class="row">
      <div class="span12">
        <h2> Listado de Usuarios </h2>
        <table class="table table-striped table-bordered">
          <tr>
            <th>Id</th>
            <th>Nombre Usuario</th>
            <th>Nombre </th>
            <th>Administrador?</th>
            <th>Eliminar</th>
            <th>Editar</th>
          </tr>
          {% for u in usuarios %}
          <tr>
          <form></form>
            <td>{{u.id}}</td>
            <td>{{u.nombredeusuario}}</td>
            <td>{{u.nombre}}</td>
            <td>{{u.isAdmin}}</td>
            <td>
            {% if u.nombredeusuario != "admin" %}
            <a class="btn btn-danger" href="/admusuario/eliminarusuario/{{u.nombredeusuario}}">Eliminar</a>
            {% endif %}
            </td>
            <td>
            <a class="btn" href="/admusuario/editarusuario/{{u.nombredeusuario}}">Editar</a>
            </td>
          </tr>
          
          {% else %}
          	<tr>
          		No se han creado aun usuarios
          	</tr>
          {% endfor %}
          
        </table>
      	</div>  
      	<div class="span3 bs-docs-sidebar">
        	<ul class="nav nav-list bs-docs-sidenav">
        	{% if session['isAdmin']==True %}  
				  <li><a href="/admusuario/crearusuario/"><i class="icon-chevron-right"></i> Crear Usuario</a></li>
			{% endif %}
				</ul>
		</div>
 </div>
 
{%endblock%}



