{% extends "base.html" %}
{% block menu %}
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/admproyecto/">Administrar Proyecto</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Contact</a></li>
              </ul>
              
          </div>
       </div>
     </div>
</div>

{%endblock%}

{%block mensaje%}
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
{%endblock%}
{%block content%}

<div class="usuarios">

	<div class="row">
      <div class="span12">
        <h2> Listado de Usuarios </h2>
        <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>Nombre Usuario</th>
            <th>Nombre </th>
            <th>Administrador?</th>
            <th>Eliminar</th>
            <th>Editar</th>
          </tr>
          {% for u in usuarios %}
          <tr>
          <form></form>
            <td>{{u.id}}</td>
            <td>{{u.nombredeusuario}}</td>
            <td>{{u.nombre}}</td>
            <td>{{u.isAdmin}}</td>
            <td><a class="btn btn-danger" href="/admusuario/eliminarusuario/{{u.nombredeusuario}}">Eliminar</a></td>
            <!--<td><a class="btn" href="/admusuario/editarusuario/{{u.idUsuario}}','{{u.nombredeusuario}}','{{u.nombre}}','{{u.clave}}','{{u.isAdmin}}');">  -->
            <td><a class="btn" href="/admusuario/editarusuario/{{u.nombredeusuario}}">
            Editar</a>
          </tr>
          
          {% else %}
          	<tr>
          		NO HAY REGISTROS
          	</tr>
          {% endfor %}
          
        </table>
      	</div>  
       <p><a href="/admusuario/crearusuario/" class="btn btn-primary btn-large">Crear Usuario</a></p>
    </div>
 </div>
 
{%endblock%}



