<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
        <!--  <link rel="stylesheet" type="text/css" href="/static/stylemenu.css" />-->
		<link href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.css') }}" rel="stylesheet">
	<style type="text/css">
		body { padding-top: 60px; padding-bottom: 40px; }
		.botones-cabecera{
			text-align : right;
		}
	</style>

	<link href="{{ url_for('static', filename = 'bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename = 'jquery-1.9.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" />
        <script src="/static/jquery-1.9.1.min.js"></script>

    </head>
        <body> 
	   
            {% block menu%}{% endblock %}
            {% block mensaje%}{% endblock %}
            {% block content%}{% endblock %}


    </body>
</html>
