{% extends "base.html" %}
{% block menu %}
	
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/admitem/{{session['faseid']}}">Administrar Item</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Contact</a></li>
              </ul>
          </div>
       </div>
     </div>
</div>
{%endblock%}


{%block mensaje%}

{%endblock%}

{%block content%}
<div class="container">
	<h3>Completar Atributo</h3>
	<hr>
	<p>Complete los datos de los Atributos</p>
		<form action="{{url_for('completaratributo')}}" method="post">
		{% set i =1%}
            {% for a in atributos %}
            	<p>{{a.nombre}}:<br/>
            	{% for v in valores %}
            		{% if v.atributo_id == a.id %}
            			{% set aux = v.valor %}
            			{% if a.tipoDato == "Cadena" %}
		            		<input type="text" name="{{a.nombre}}" value="{{aux}}"/></p>
		            	{% endif %}
		            	{% if a.tipoDato == "Numerico" %}
		            		<input type="number" name="{{a.nombre}}" value="{{aux}}"/>
		            	{% endif %}
		            	{% if a.tipoDato == "Fecha" %}
		            		<input type="date" name="{{a.nombre}}" value="{{aux}}"/>
		            	{% endif %}
		            	{% if a.tipoDatot == "Booleano" %}
		            		{% if aux %}
		            		<input type="checkbox" name="{{a.nombre}}" checked/>
		            		{%else%}
		            		<input type="checkbox" name="{{a.nombre}}" />
		            		{% endif %}
	            		{% endif %}
            		{% endif %}
            	{% endfor%}
            {% else %}
            <p>
          		El tipo de item no consta de atributos propios
          	</p>
            {% endfor %}
            <p><input class="btn btn-success" type="submit" value="Aceptar" />
            <a class="btn btn-inverse" href="/admitem/{{session['faseid']}}">Cancelar</a></p>
        </form>
</div> 
{%endblock%}

