{% extends "base.html" %}
{% block menu %}
	
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Logout</a></li>
			<li><a href="#contact">Usuario: {{session['username']}}</a></li>
              </ul>
          </div>
       </div>
     </div>
</div>
{%endblock%}


{%block mensaje%}

{%endblock%}

{%block content%}
<div class="container">
	<h3>Consultar Solicitud de Cambio - <em>{{session['proyectonombre']}}</em></h3>
	<hr>
	 <p><strong>Fecha de Creacion:</strong> {{s.fechaCreacion.strftime('%Y/%m/%d - %H:%M')}} </p>
	 <p><strong>Solicitante:</strong>  {{s.usuario.nombre}}</p>
	 <p><strong>Dificultad:</strong> {{s.dificultadT}}</p>
	 <p><strong>Costo:</strong> {{s.costoT}}</p>
	 <p><strong>Cantidad de Items: </strong>{{s.cantItems}}</p>
	 <p><strong>Estado:</strong> {{s.estado}}</p>
	<div class="span8">
	<p align="center">	<strong>Lista de Items</strong>
			
	<table  class="table table-striped" >
			<tr>
               <th>Nombre</th>
               <th>Estado</th>
               <th>Fase</th>
               <th>Version</th>
               <th>Costo</th>
               <th>Dificultad</th>
            </tr>
            {% for v in s.items %}
            <tr>   
            	<td>{{v.nombre}}</td>
            	<td>{{v.estado}}</td>
            	<td>{{v.item.tipoitem.fase.numero}}</td>
            	<td>{{v.version}}</td>
            	<td>{{v.costo}}</td>
            	<td>{{v.dificultad}}</td>
           </tr>
           {% else %}
	       <tr>
	            <td>
	          		No existen items en solicitud WTF?
	          	</td>
          		<td></td>
          		<td></td>
          		<td></td>
          		<td></td>
          		<td></td>
          		<td></td>
          	</tr>
          	{%endfor%}
        </table>
        <p align="left">	<strong>Acciones que realizaran sobre los items:</strong></p>
		<table>
				<tr>
					<td>
				        <div class="span3">
						
				        <table  class="table table-striped" >
							<tr >
				               <th><i class="icon-check"></i></th>
				               <th>Accion</th>
				        	</tr>
				        	{%for a in acciones%}
				        	<tr>
				        	
				        			{% if a[1]==True %}
						            		<td><input type="checkbox" name="{{a[0]}}" checked disabled/></td>
						           	{% else %}
						           			<td><input type="checkbox" name="{{a[0]}}" disabled/></td>
				            		{% endif %}
				            		<td>{{a[0]}}</td>
				           
				        	</tr>
				        	 {%endfor%}
				        </table>
						</div>
				   	</td>
				</tr>
						
			    <tr>
			        <td>
				        <p><strong>Motivo de cambio:</strong> {{s.comentario}}</p>
						
					</td>
				</tr>
				<tr> 
					<td><br></td> 
				</tr>
		        <tr>
			        <td>
			        {%if consultar==True %}
				        <div class="span10" align="left">
				            <a class="btn btn-success" href="/admsolicitud/">Aceptar</a>
				        	
						</div>
					{%else%}
					<form action="/admsolicitud/enviar/{{session['solicitudid']}}" method="post">
						 <div class="span10" align="left">
						 	<input class="btn btn-success" type="submit" value="Enviar" />
				            <a class="btn btn-inverse" href="/admsolicitud/">Cancelar</a>
						</div>
					</form>
					{%endif%}
					</td>
					<td></td>
		        </tr>
		   </table>
    	</div>
</div>
{%endblock%}		
