{% extends "base.html" %}
{% block menu %}
	
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/admtipo/{{session['faseid']}}">Administrar Tipo de Item</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Usuario: {{session['username']}}</a></li>
              </ul>
          </div>
       </div>
     </div>
</div>
{%endblock%}

{%block content%}
<div class="container" align="left">
    <h3>Consulta de tipo de item de <em> {{session['proyectonombre']}} - {{session['fasenombre']}} </em></h3>
    <hr>
    <p>	<strong>Nombre:</strong> {{t.nombre}}</p>
    {% if t.comentario!="" %}
    <p>	<strong>Comentario:</strong> {{t.comentario}}</p>
    {% else %}
    <p>	<strong>Comentario:</strong> -- </p>
    {% endif %}
    <div class="span5">
	<p align="center">	<strong>Atributos</strong></p>
	<table  class="table  table-bordered" >
                                <tr>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                 </tr>

	 							{% for a in t.atributos %}
	 							<tr >
									<td>{{a.nombre}}</td>
									<td>{{a.tipoDato}}</td>
								</tr>
								{% else %}
								<tr>
										<td> -No contiene Atributos-</td>
										<td></td>
								<tr>
								{% endfor %}
								
							</table>
	<p align="center">	<strong>Instancias</strong></p>	
	<table  class="table  table-bordered" >
                                <tr>
                                        <th>Version</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                 </tr>

	 							{% for i in versiones %}
	 							<tr >
									<td>{{i.version}}</td>
									<td>{{i.nombre}}</td>
									<td>{{i.estado}}</td>
								</tr>
								{% else %}
								<tr>
										<td> -No contiene Instancias-</td>
										<td></td>
										<td></td>
								<tr>
								{% endfor %}
								
		</table>
		{%if session['enimportar']%}
			<a class="btn btn-success" href="{{url_for('admimportartipo')}}">Aceptar</a>
		{%else%}
	    	<a class="btn btn-success" href="/admtipo/{{session['faseid']}}">Aceptar</a>
    	{%endif%}
    </div>
</div>
{%endblock%}