{% extends "base.html" %}
{% block menu %}
	
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active" ><a href="/admrol/{{session['faseid']}}">Administrar Rol</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Usuario: {{session['username']}}</a></li>
              </ul>
          </div>
       </div>
     </div>
</div>
{%endblock%}
{%block content%}
<div class="container" align="left">
    <h3>Consulta de rol de <em> {{session['proyectonombre']}} - {{session['fasenombre']}} </em></h3>
    <hr>
    <p>	<strong>Nombre:</strong> {{rol.nombre}}</p>
    <div class="span4">
    		<p align="center">	<strong>Permisos sobre Tipo de Item</strong></p>	
			<table  class="table" >
	    	<tr class="info">
	    	{%set tiene=false%}
	    	{%if tienePermiso(r,"CrearT")%}
            	<td>- Crear</td>{%set tiene=true%}
            {%endif%}
            {%if tienePermiso(r,"EditarT")%}
            	<td>- Editar</td>{%set tiene=true%}
            {%endif%}
            {%if tienePermiso(r,"EliminarT")%}
            	<td>- Eliminar</td> {%set tiene=true%}
            {%endif%}
            {%if tiene==false%}
            <td>No tiene permisos de Tipo de Item</td>
            {%endif%}
            </tr>
            </table>
            </div>

            <div class="span4">
            <p align="center"><strong>Permisos sobre Linea Base</strong></p>
            <table  class="table" >
            <tr class="error">
            {%set tiene=false%}
            {%if tienePermiso(r,"CrearLB")%}
            	<td>- Crear</td>{%set tiene=true%}
            {%else%}
            	<td></td>
            {%endif%}
            {%if tienePermiso(r,"EliminarLB")%}
            	<td>- Eliminar</td>{%set tiene=true%}
            {%else%}
            	<td></td>
            {%endif%}
            {%if tiene==false%}
            <td>No tiene permisos de Linea Base</td>
            {%endif%}
            </tr>
            </table>
            </div>
            </div>
            <div class="container" align="left">
            <div class="span10" align="center">
            <p align="center"><strong>Permisos sobre Item</strong></p>
            <table  class="table" >
            <tr class="success">
            {%set tiene=false%}
            {%if tienePermiso(r,"CrearI")%}
            	<td>- Crear</td>{%set tiene=true%}
            {%endif%}
            {%if tienePermiso(r,"EditarI")%}
            	<td>- Editar</td>{%set tiene=true%}
            {%endif%}
            {%if tienePermiso(r,"EliminarI")%}
            	<td>- Eliminar</td>{%set tiene=true%}
            {%endif%}

            {%if tienePermiso(r,"AprobarI")%}
            	<td>- Aprobar</td>{%set tiene=true%}
            {%endif%}
            {%if tienePermiso(r,"RevivirI")%}
            	<td>- Revivir</td>{%set tiene=true%}
            {%endif%}
            {%if tienePermiso(r,"ReversionarI")%}
            	<td>- Reversionar</td>{%set tiene=true%}
            {%endif%}

            {%if tienePermiso(r,"AsignarPadreI")%}
            	<td>- Asignar Padre</td>{%set tiene=true%}
            {%endif%}
            {%if tienePermiso(r,"AsignarAntecesorI")%}
            	<td>- Asignar Antecesor</td>{%set tiene=true%}
            {%endif%}
            {%if tiene==false%}
            <td>No tiene permisos de Item</td>
            {%endif%}
            <td></td>
            </tr>
            </table>
            </div>
            </div>
            <div class="container" align="left">
            <strong>Usuarios:</strong>
            <p></p>
            {%for u in rol.usuarios%}
           		<p>- {{u.usuario.nombre}}</p>
           		{%else%}
           		<p>-No hay usuarios con este rol</p>
            {%endfor%}
	    	<a class="btn btn-success" href="/admrol/{{session['faseid']}}">Aceptar</a>

	    
    
</div>
{%endblock%}