{% extends "base.html" %}
{% block menu %}
	
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/admproyecto/">Administrar Proyecto</a></li>            
              <li><a href="/admusuario/">Administrar Usuario</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Contact</a></li>
              </ul>
          </div>
       </div>
     </div>
</div>
{%endblock%}


{%block mensaje%}
	<div class="container">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
	</div>
{%endblock%}

{%block content%}
<div class="container">
	<h3>Crear Proyecto</h3>
	<hr>
	<p>Complete los datos del proyecto:</p>
        <form action="{{url_for('crearproyecto')}}" method="post">
            <p>Nombre:<br/>
            <input type="text" name="nombre" value="{{session['aux1']}}" /></p>
            <p>Fecha de inicio(*):<br/>
            <input type="date" name="fechainicio"  value="{{session['aux3']}}"/></p>
            <p>Fecha de fin:<br/>
            <input type="date" name="fechafin" value="{{session['aux4']}}"/></p>
            <p>Lider:<br/>
            <select name="lider">
            	{% for usuario in u : %}
                	<option value="{{ usuario.id }}">{{usuario.id}} - {{ usuario.nombre }} </option>
                {% endfor %}
            </select>
            <p><input type="submit" value="Crear" /></p>
        </form>
        <p class="text-info">* Por defecto se le asigna la fecha actual</p>
</div>
{%endblock%}