{% extends "base.html" %}
{% block menu %}
	
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/admrol/{{session['faseid']}}">Administrar Rol</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Contact</a></li>
              </ul>
          </div>
       </div>
     </div>
</div>
{%endblock%}


{%block content%}
<div class="container">
	<h3>Crear Rol</h3>
	<hr>
	<p>Complete los datos delRol:</p>
        <form action="{{url_for('crearrol')}}" method="post">
            <p>Nombre<small class="text-error">(*)</small>:
            {%  with messages = get_flashed_messages(category_filter=["nombre"]) %}
	  			{% if messages %}
	  				{% for message in messages %}
   						<small class="text-error">{{ message }}</small>	
   					{% endfor %}    					
				{% endif %}
			{% endwith %}         
	    	<br/>
	    	<p><input type="text" name="nombre" value= /></p>
	    	<p>Permisos sobre Tipo de Item</p>
            <p><input type="checkbox" name="crearT" /> Crear</p>
            <p><input type="checkbox" name="eliminarT" /> Eliminar</p>
            <p></p>
            <p>Permisos sobre Item</p>
            <p><input type="checkbox" name="crearI" /> Crear,Editar,Reversionar</p>
            <p><input type="checkbox" name="aprobarI" /> Aprobar</p>
            <p><input type="checkbox" name="eliminarI" /> Eliminar,Revivir</p>
            <p></p>
            <p>Permisos sobre Linea Base</p>
            <p><input type="checkbox" name="lb" /> Permiso</p>
            <p></p>
            <p><input class="btn btn-success" type="submit" value="Aceptar" />
            <a class="btn btn-inverse" href="/admrol/{{session['faseid']}}">Cancelar</a></p>
        </form>
</div>
{%endblock%}
