{% extends "base.html" %}
{% block menu %}
	
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/admproyecto/">Administrar Proyecto</a></li>
              <li class="active"><a href="/admusuario/">Administrar Usuario</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Contact</a></li>
              </ul>
              
          </div>
       </div>
     </div>
</div>

{%endblock%}

{%block mensaje%}
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
{%endblock%}

{%block content%}
<p>Modifique los datos del usuario:</p>
        <form action="/admusuario/editarusuario/" method="post">
            <p>Nombre:<br />
            <input type="text" name="nombre" value="{{u.nombre}}" /></p>
            <p>Usuario:<br />
            <input type="text" name="usuario" value="{{u.nombredeusuario}}"  /></p>
            <p>Clave:<br />
            <input type="text" name="clave" value="{{u.clave}}" /></p>
            <p>Es Admin:<br />
            {% if u.isAdmin %}
            <input type="checkbox" name="admin" checked /></p>
            {% else %}
            <input type="checkbox" name="admin" /></p>
            {% endif %}
            <p><input type="submit" value="submit" /></p>
        </form>

{%endblock%}
