{% extends "base.html" %}
{% block menu %}
	
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/admitem/{{session['faseid']}}">Administrar Item</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Usuario: {{session['username']}}</a></li>
              </ul>
          </div>
       </div>
     </div>
</div>
{%endblock%}

{%block content%}
<div class="container" align="left">
    <h3>Eliminar item de <em>{{session['proyectonombre']}} - {{session['fasenombre']}}</em></h3>
    <hr>
    <p>	<strong>Nombre:</strong> {{i.nombre}}</p>
    <p>	<strong>Comentario:</strong> {{i.estado}}</p>
    <p>	<strong>Costo:</strong> {{i.costo}} </p>
    <p>	<strong>Difucultad:</strong> {{i.dificultad}} </p>
    <p>	<strong>Version:</strong> {{i.version}} </p>
    <p>	<strong>Usuario Creador:</strong> {{item.usuario_creador.nombre}} </p>
    <p>	<strong>Fecha de Creación:</strong> {{item.fechaCreacion.strftime('%Y-%m-%d')}} </p>
    <p>	<strong>Último Usuario Modificador:</strong> {{i.usuario_modificador.nombre}} </p>
    <p>	<strong>Última Fecha de Modificación:</strong> {{i.fechaModificacion.strftime('%Y-%m-%d')}} </p>
     <div class="span5">
    <p align="center">	<strong>Atributos</strong></p>	
	<table  class="table  table-bordered" >
								<tr>
                                    <th>Atributo</th>
                                    <th>Valor</th>
                                 </tr>

					           {% for a in atributos %}
					           <tr>
					            	<td>{{a.nombre}}</td>
					            	{% for v in valores %}
					            		{% if v.atributo_id == a.id %}
						            		{% if a.tipoDato == "Fecha" %}
						            			{% if v.valor != None %}
						            				<td>{{v.valor.strftime('%Y-%m-%d')}}</td>
						            			{% else %}
						            				<td></td>
						            			{% endif %}
						            		{%else%}
						            			<td>{{v.valor }}</td>
					            			{%endif%}
					            		{% endif %}
					            		
					            	{% endfor%}
					            </tr>
					            {% else %}
								<tr>
									<td> -No contiene Atributos-</td>
									<td></td>
								</tr>					
            					{% endfor %}
           </table>
	<form action="{{url_for('eliminaritem')}}" method="post">        
	    	<p><input class="btn btn-danger" type="submit" value="Eliminar" />
	    	<a class="btn btn-inverse" href="/admitem/{{session['faseid']}}">Cancelar</a>
	    </form>
    
    </div>
</div>
{%endblock%}
