{% extends "base.html" %}


{% block menu %}

 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#contact">Usuario: {{session['username']}}</a></li>
              </ul>
          </div>
         </div>
        </div>
</div>
              
{%endblock%}

{%block mensaje%}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="container" align="center">
            {% for category, message in messages %}
              <h4 class="{{ category }}">{{ message }}</h4>
            {% endfor %}
		  </div>
          {% endif %}
        {% endwith %}
{%endblock%}

{%block content%}
  
<center>
<h3 class="muted">{{session['proyectonombre']}} - {{session['fasenombre']}}</h3>
            <img src="{{ nombre }}?{{aux}}" alt="Grafo 1"><BR>
            {% if item %}
            <center><a class="btn" href="/admitem/{{session['faseid']}}"><i class="icon-arrow-left"></i> Atras</a></center>
            {%else%}
            <center><a class="btn" href="/admfase/{{session['proyectoid']}}"><i class="icon-arrow-left"></i> Atras</a></center>
  			{%endif%}
  </center>
  
  <div class="span5">
  <table class="table table-bordered">
				<caption><strong class="text-info">Items</strong></caption>
				<tr>
				<td bgcolor="#ffff00"></td>
				<td><font color="#000000">Activo</font></td>
				<td bgcolor="#37F731"></td>
				<td><font color="#000000">Aprobado</font></td>
				<td bgcolor="#ff1122"></td>
				<td><font color="#000000">Revision</font></td>
				<td bgcolor="#8b8878"></td>
				<td><font color="#000000">Bloqueado</font></td>
				<td bgcolor="#ff0000"></td>
				<td><font color="#000000">Conflicto</font></td>
				<td bgcolor="#0000ff"></td>
				<td><font color="#000000">EnCambio</font></td>
				</tr>
	</table>

	<div class="span2">
  	<table class="table table-bordered">
				<caption><strong class="text-info">Lineas base</strong></caption>
				<thead>
				<tr>
				<td bgcolor="red"></td>
				<td><font color="#000000">Abierta</font> </td>
				<td bgcolor="#8b8878"></td>
				<td><font color="#000000">Cerrada</font></td>
				</tr>
				</thead>
	</table>
	</div>
		</div>
{%endblock%}
