{% extends "base.html" %}
{% block menu %}
	
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Logout</a></li>
			<li><a href="#contact">Usuario: {{session['username']}}</a></li>
              </ul>
          </div>
       </div>
     </div>
</div>
{%endblock%}


{%block mensaje%}

{%endblock%}

{%block content%}
<div class="container">
	<h3 class="muted" align="center">{{session['proyectonombre']}} - {{session['fasenombre']}}</h3>
	<h3>Comite</h3>
	<hr>
	<p>Seleccione los miembros del comite</p>
	<form action="{{url_for('miembros')}}" method="POST">
	<div class="span5">
	<table  class="table  table-bordered" >
								<tr>
                                    <th>Nombre</th>
                                    <th>Pertenece</th>
                                 </tr>
                                 
            <tr>
                                    <th>{{lider.nombredeusuario}}</th>
                                    <th><input type="checkbox" name="{{lider}}" checked disabled/></th>
                                 </tr>                     
            {% for l in batata %}
            <tr>   
            	<td>{{l[0]}}</td>
            	
            		{% if l[1]==True %}
		            		<td><input type="checkbox" name="{{l[0]}}" checked/></td>
		           	{% else %}
		           			<td><input type="checkbox" name="{{l[0]}}"/></td>
            		{% endif %}
           </tr> 
           {% else %}
	       <tr>
	            <td>
	          		No existen usuarios(?wtf)
	          	</td>
          		<td></td>
          	</tr>
          	{%endfor%}
        </table>
            <p><input class="btn btn-success" type="submit" value="Aceptar" />
            <a class="btn btn-inverse" href="/admfase/{{session['proyectoid']}}">Cancelar</a></p>
        
    	</div>
    </form>
</div>
{%endblock%}		
