{% extends "base.html" %}


{% block menu %}

 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/admfase/{{session['proyectoid']}}">Administrar Fase</a></li>
              <li class="active"><a href="">Administrar Item</a></li>
              <li><a href="/">Logout</a></li>
              <li><a href="#contact">Contact</a></li>
              </ul>
          </div>
         </div>
        </div>
</div>
              
{%endblock%}

{%block mensaje%}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="container" align="center">
            {% for category, message in messages %}
              <h4 class="{{ category }}">{{ message }}</h4>
            {% endfor %}
		  </div>
          {% endif %}
        {% endwith %}
{%endblock%}

{%block content%}
<div class="fases">
		<div class="container" align="center">
        <h3 class="muted">{{session['proyectonombre']}} - {{session['fasenombre']}}</h3>
        </div>
        <div class="row" >
                <div class="span12">
                        <h2> Listado de Items </h2>
                        <table class="table table-striped table-bordered">
                                <tr>
                                        <th>Nombre</th>
                                        <th>Estado</th>
				                        <th>Tipo</th>
				                        <th>Version</th>
				                        <th>Consultar</th>
				                        <th>Revivir</th>
                                </tr>
                                {% for i in items %}
                    
                                <tr>
                                        <td>{{i.nombre}}</td>
                                        <td>{{i.estado}}</td>
                                        <td>{{i.item.tipoitem.nombre}}</td>
                                        {%if i.version is iterable%}
                                        {%for v in i.version()%}
                                        	{% set aux=v.version %}
                                        {%endfor%}
                                        {%else%}
                                        	{% set aux=i.version %}
                                        {%endif%}
                                        <td>{{aux}}</td>
                                        <td>
                                        <a class="btn btn-info" href="/admitem/consultaritem/{{i.id}}">Consultar</a>
                                        </td>
                                        <td>
                                        <a class="btn btn-inverse" href="/admitem/revivirb/{{session['faseid']}}">Revivir</a>
                                        </td>
                        </tr>
                                {% else %}
                        
                                <tr>
                                        No se hay items eliminados en la fase
                                </tr>
                                {% endfor %}
                </table>
        </div>
</div>
{%endblock%}
