{% extends "base.html" %}


{% block menu %}

 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Logout</a></li>
             <li><a href="#contact">Usuario: {{session['username']}}</a></li>
              </ul>
          </div>
         </div>
        </div>
</div>
              
{%endblock%}

{%block mensaje%}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="container" align="center">
            {% for category, message in messages %}
              <h4 class="{{ category }}">{{ message }}</h4>
            {% endfor %}
		  </div>
          {% endif %}
        {% endwith %}
{%endblock%}


{%block content%}
<div class="items">
		<div class="container">
        <h3 class="muted" align="center">{{session['proyectonombre']}} - {{session['fasenombre']}}</h3>
        </div>
        <div class="row" >
                <div class="span10">
		        <h3>Solicitud de cambio</h3>
		        <hr>
                <h2>Listado de Items Bloqueados</h2>
                 <table class="table table-striped table-bordered">
                                <tr>
                                        <th>Version</th>
                                        <th>Nombre</th>
                                        <th>Costo</th>
                                        <th>Dificultad</th>
				                        <th>Solicitar</th>
				                        
                                </tr>
                                {%for v in versiones%}
                                <tr>
                                		<td>{{v.version}}</td>
                                		<td>{{v.nombre}}</td>
                                		<td>{{v.costo}}</td>
                                		<td>{{v.dificultad}}</td>
                                		<td><a class="btn btn-warning" href="/admitem/solicitarcambio/{{v.id}}">Solcitar Cambio</a></td>
                                		</tr>
                                {%else%}
                                <tr>
                                	<td>No hay Items en linea base</td>
                                	<td></td>
                                	<td></td>
                                	<td></td>
                                	<td></td>
                                </tr>
                                {%endfor%}
                                </table>
                                <a class="btn" href="/admitem/{{session['itemid']}}"><i class="icon-arrow-left"></i> Atras</a>
                          </div>
           
           </div>
</div>
{%endblock%}
       