{% extends "base.html" %}
{% block menu %}
	
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project Manager System</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Logout</a></li>
			<li><a href="#contact">Usuario: {{session['username']}}</a></li>
              </ul>
          </div>
       </div>
     </div>
</div>
{%endblock%}


{%block mensaje%}

{%endblock%}

{%block content%}
<div class="container">
	<h3>Consultar Solicitud de Cambio - <em>{{session['proyectonombre']}}</em></h3>
	<hr>
	<div class="span11">
	<table>
		<tr>
			<td width="300px">
			 	<strong>Fecha de Creacion:</strong> {{s.fechaCreacion.strftime('%Y/%m/%d - %H:%M')}} 
			</td>
			<td>
			 	<strong>Solicitante:</strong>  {{s.usuario.nombre}}
			</td>
		 </tr>
		 <tr>
			 <td>
			 	<strong>Dificultad:</strong> {{s.dificultadT}}
			 </td>
			 <td>
			 	<strong>Costo:</strong> {{s.costoT}}
			 </td>
		 </tr>
		 <tr>
			 <td>
			 	<strong>Cantidad de Items: </strong>{{s.cantItems}} 
			 </td>
			 <td>
			 	<strong>Estado:</strong> {{s.estado}}
			 </td>
		 </tr>
		 <tr>
			 <td colspan="2">
			 	<strong>Motivo de cambio:</strong> {{s.comentario}}
			 </td>
		 </tr>
	 </table>
	 </div>
	<div class="span8">
	<p align="center">	<strong>Lista de Items</strong>
			
	<table  class="table table-striped" >
			<tr>
               <th>Nombre</th>
               <th>Estado</th>
               <th>Fase</th>
               <th>Version</th>
               <th>Costo</th>
               <th>Dificultad</th>
            </tr>
            {% for v in s.items %}
            <tr>   
            	<td>{{v.item.nombre}}</td>
            	<td>{{v.item.estado}}</td>
            	<td>{{v.item.item.tipoitem.fase.numero}}</td>
            	<td>{{v.item.version}}</td>
            	<td>{{v.item.costo}}</td>
            	<td>{{v.item.dificultad}}</td>
           </tr>
           {% else %}
	       <tr>
	            <td>
	          		No existen items en solicitud WTF?
	          	</td>
          		<td></td>
          		<td></td>
          		<td></td>
          		<td></td>
          		<td></td>
          		<td></td>
          	</tr>
          	{%endfor%}
        </table>
        <p align="left">	<strong>Acciones que realizaran sobre los items:</strong></p>
		
				        <div class="span3">
				        <table  class="table table-striped" >
				        	{%for a in acciones%}
				        	<tr>
				        			<th><i class="icon-check"></i></th>
				            		<td>{{a}}</td>
				        	</tr>
				        	 {%endfor%}
				        </table>
						</div>
			        
					
    	</div>
    	<form action="/admsolicitud/votar/{{session['solicitudid']}}" method="post">
						 <div class="span8" align="left">
						 <p> <strong>Votar: </strong>
						 	<input class="btn btn-success" type="submit" value="Aprobar" name="Aprobar"/>
						 	<input class="btn btn-danger" type="submit" value="Rechazar" name="Rechazar" /> </p>
						 	<br/>
				            <a class="btn btn-inverse" href="/admsolicitud/">Cancelar</a>
						</div>
					</form>
</div>
{%endblock%}		
